* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --transition: all .4s ease-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    background-image: linear-gradient(to bottom, #fffffd, #fffef5, #fffeed, #fffde4, #fffcdc, #fefbd5, #feface, #fdf9c7, #fcf7bf, #faf5b8, #f9f3b0, #f8f1a8);
}

img {
    max-width: 100%;
    /* border: 2px solid red; */
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700!important;
}

h6{
    font-size: 15px!important;
}

p {
    color: black;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14.2px;
}

ul li {
    color: black;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14.2px;
    margin-bottom: 10px;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logoDiv {
    max-width: 200px;
    margin: 0 auto;
}

/* .bannerSec{
    text-align: center;
} */
.borderBtm{
    border-bottom: 2px solid #ec3237;
}
.pipe{
    color: #ec3237;
}

.footerBtm {
    text-align: center;
    background: #ec3237;
    padding: 5px 10px 30px;
    color: white;
    font-size: 30px;
}

.footerBtm span {
    font-size: 12px !important;
    margin-left: 4px;
}



@media only screen and (max-width: 767px) {
    .orderImg{
        order: 2;
    }
}
